<div id="products">
<h2 class="center">Orders Table</h2>
<table id = "productsTable" width = "1000px" class="table">
  <thead>
    <tr>
      <th>주문 날짜</th>
      <th>주문자</th>
      <th>품번</th>
      <th>주문 상태</th>
      <th>EDIT</th>
    </tr>
  </thead>
  <tbody>
    <% order.forEach(order => { %>
    <tr>
      <td>
        <%= order.date %>
      </td>
      <td>
        <%= order.userId %>
      </td>
      <td>
        <%= order.productCode %>
      </td>
      <td>
        <%= order.state %>
      </td>
      <td>
        <a href="<%=`/admin/${order._id}/edit`%>">Edit</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
</div>