<div id="products">
<h2 class="center">Users Table</h2>
<table id="productsTable" class="table">
  <thead>
    <tr>
      <th>NICKNAME</th>
      <th>PASSWORD</th>
      <th>NAME</th>
      <th>PHONE</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
          <%= user.nick %>
      </td>
      <td>
        <%= user.pw %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.phone %>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/edit`%>">Edit</a>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('삭제하시겠습니까?')" a>Delete</a>
      </td>
    </tr>
    <% }); %>
    <button  onclick="location.href = '/join'" style="background-color: darkgray; color: white;"> [Users Add] </button>
  </tbody>
</table>
</div>