<h2 class="center">Products Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>CATEGORY</th>
      <th>NAME</th>
      <th>PRICE</th>
      <th>IMG</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(products => { %>
    <tr>
      <td>
          <%= products.category %>
      </td>
      <td>
        <%= products.name %>
      </td>
      <td>
        <%= products.price %>
      </td>
      <td>
        <img src="img\<%= products.img %>" alt="사진" style="width: 100px;">      
      </td>

      <%# DB에 cart Collenction 저장을 위한 코드 -> 장바구니 기능 %>
      <td>
        <form action ='cartInsert' method="POST">
        <input type="hidden" name="userId" value='<%= currentUser._id %>'>
        <input type="hidden" name="productCode" value='<%= products.code %>'>
        <button type="submit">장바구니에 담기</button>
        </form>
      </td>

      <#% DB에 order Collection 저장을 위한 코드 -> 상품 주문여부 확인 %>
      <td>
        <form action="ordered" method="POST">
          <input type="hidden" name="userId" value='<%= currentUser._id %>'>
          <input type="hidden" name="productCode" value='<%= products.code %>'>
          <input type="hidden" name="state" value="결제 완료">
          <button type="submit">구매하기</button>
        </form>
      </td>

    </tr>
    <% }); %>
  </tbody>
</table>

<button onclick="location.href = '/productsInsert'">add</button>
