<script>
  function btn1(){
    alert('장바구니에 담겼습니다.');
  }

  function btn2() {
    alert('주문되었습니다.');
  }
</script>

<div id="sub">

  <table id="subTable">
    <tr height="100px">
       <td rowspan="3"> <img src="\img\<%= products.img %>" alt="<%= products.img %>" style="width: 90%;"> </td>
       <td width = "390px"><span style="font-size: 20px;"><b><%= products.name %></b> </span><br>
        <%= products.discription %></td>    
    </tr>
    <tr height="100px">
      <td><span style="font-size: 35px;"><%= products.price %>원</span></td>
    </tr>

    <tr>
      <td>
        <div>
        <form action ='cartInsert' method="POST">
        <input type="hidden" name="userId" value='<%= currentUser._id %>'>
        <input type="hidden" name="productCode" value='<%= products.code %>'>
        <button type="submit" onclick="javascript:btn1()">장바구니에 담기</button>
        </form>
        </div>

        <div>
          <form action="ordered" method="POST">
            <input type="hidden" name="userId" value='<%= currentUser._id %>'>
            <input type="hidden" name="productCode" value='<%= products.code %>'>
            <input type="hidden" name="state" value="결제 완료">
            <button type="submit" onclick="javascript:btn2()">구매하기</button>
          </form>
        </div>

     </td>
    </tr>
  </table>

</div>