<h2><%= user.name %>'s Page</h2>

<table>
    <tr>
        <th>NICK NAME</th>
        <td>
            <%= user.nick %>
        </td>
    </tr>
    <tr>
        <th>PHONE NUMBER</th>
        <td>
            <%= user.phone %>
        </td>
    </tr>
</table>

<h2>장바구니 목록</h2>

<table>
    <thead>
        <tr>
            <th>CATEGORY</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>PRICE</th>
        </tr>
    </thead>
    <tbody>
        <% carts.forEach(carts => { %>
        <tr>
            <td></td>
            <td><%= carts.productCode %></td>
            <td></td>
            <td></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<h2>주문 목록</h2>

<table>
    <thead>
        <tr>
            <th>주문 날짜</th>
            <th>CATEGORY</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>주문 상태</th>
        </tr>
    </thead>
    <tbody>
        <% order.forEach(order => { %>
        <tr>
            <td><%= order.date %></td>
            <td></td>
            <td><%= order.productCode %></td>
            <td></td>
            <td></td>
            <td><%= order.state %></td>
        </tr>
        <% }); %>
    </tbody>
</table>